<div class="container">
  <h1>URL Shortener</h1>

  <form action="/shorten" method="post">
    <input name="url" type="text" placeholder="Enter your URL">
    <input type="submit" value="Submit">
  </form>

  <div class="response"></div>
</div>
